<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidrealm.bookhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookHub">
        <activity
            android:name=".Controllers.Activities.PrizeDetailActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".PrizeActivity"-->
<!--            android:exported="false" />-->
         <activity
         android:name=".Controllers.Activities.AccountDetailActivity"
         android:exported="false" />
        <activity
            android:name=".Controllers.Activities.PrizeListActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.UpdateAccActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.BookCreateActivity"
            android:exported="true" />
        <activity
            android:name=".Controllers.Activities.RequestListActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.BookmarkListActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.FavoriteListActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.AccountActivity"
            android:exported="false" />
        <activity android:name=".Controllers.Activities.BookReadActivity" />
        <activity android:name=".Controllers.Activities.BookUpdateActivity" />
        <activity
            android:name=".Controllers.Activities.PrizeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.Activities.ManageBookActivity" />
        <activity android:name=".Controllers.Activities.BookDetailActivity" />
    </application>

</manifest>