<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidrealm.bookhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-configuration android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookHub">

        <service android:name=".Controllers.Services.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".Controllers.Activities.UserAccountDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.RankActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.Activities.AvatarListActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.NewPrizeActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.BookSearchActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.RequestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.ForgotPasswordMainActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.OfflineBookReadActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.PrizeDetailActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".PrizeActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Controllers.Activities.AccountDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.PrizeListActivity"
            android:exported="true" />
        <activity
            android:name=".Controllers.Activities.UpdateAccActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.BookCreateActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Controllers.Activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.Activities.BookmarkListActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.FavoriteListActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.AccountActivity"
            android:exported="false" />
        <activity android:name=".Controllers.Activities.BookReadActivity" />
        <activity android:name=".Controllers.Activities.BookUpdateActivity" />
        <activity
            android:name=".Controllers.Activities.PrizeActivity"
            android:exported="false" />
        <activity android:name=".Controllers.Activities.ManageBookActivity" />
        <activity
            android:name=".Controllers.Activities.BookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Controllers.Activities.UserRequestListActivity"
            android:exported="false" />
        <activity android:name=".Controllers.Activities.UserAddFriendsActivity"
            android:exported="true"/>
        <activity android:name=".Controllers.Activities.UserDetailActivity"
            android:exported="true"/>
        <activity android:name=".Controllers.Activities.UserFriendsListActivity"
            android:exported="true"/>
    </application>

</manifest>